@using StudentInfo.Web.Models;
@model List<Applicant>

@{
	ViewBag.Title = "List of Applicants";
}

<h1>List of Applicants</h1>

@*@Html.ActionLink("Add New Applicant", "Create", "Applicant")*@
<a asp-controller="Applicant" asp-action="Create">Add New Applicant</a>

<table>
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var applicant in Model)
		{
			<tr>
				<td>@applicant.FirstName</td>
				<td>@applicant.LastName</td>
				<td>
					@*@Html.ActionLink("Delete", "Delete", routeValues: new { id = applicant.Id })*@
					<a asp-controller="Applicant" asp-action="Delete" asp-route-id="@applicant.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>