@using StudentInfo.Web.Models;
@model List<Applicant>

@{
	ViewBag.Title = "List of Applicants";
}

<h1>List of Applicants</h1>

@*@Html.ActionLink("Add New Applicant", "AddApplicant", "Applicant")*@
<a asp-controller="Applicant" asp-action="AddApplicant">Add New Applicant</a>

<table>
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
		</tr>
	</thead>
	@foreach (var applicant in Model)
	{
		<tr>
			<td>@applicant.FirstName</td>
			<td>@applicant.LastName</td>
		</tr>
	}
</table>